{% extends 'blog/base.html' %}
{% load static %}
{% block title %}ABOUT{% endblock title %} 
{% block content %}

<style>
    body {
        font-family: Arial, sans-serif;
        line-height: 1.6;
        margin: 20px;
        background-color: #f4f4f4;
        color: #333;
    }
    h1 {
        color: #0056b3;
    }
    h2 {
        color: #333;
    }
    p {
        margin-bottom: 20px;
    }
</style>

<div class ="row">

    <div class = "col-sm-10">

        <div class = "container">

            <h1>About Us</h1>
            
            <p>Welcome to Tech Talk Hub, your go-to destination for all things technology! At Tech Talk Hub, we believe in the power of shared knowledge and diverse perspectives. This is a platform where tech enthusiasts, professionals, and curious minds come together to explore, discuss, and innovate.</p>
        
            <h2>Our Mission</h2>
            
            <p>Our mission is simple: to create a vibrant community where anyone can share their insights, experiences, and passion for technology. We aim to be a comprehensive resource that covers a wide range of tech topics, from the latest trends and product reviews to in-depth tutorials and industry news.</p>
        
            <h2>What We Offer</h2>

            <p><strong>Inclusive Platform:</strong> Whether you're a seasoned developer, a tech entrepreneur, a gadget lover, or just someone with a keen interest in technology, Tech Talk Hub welcomes you. Our platform is open to all, encouraging diverse voices and unique perspectives.</p>
            
            <p><strong>Variety of Content:</strong> From AI and machine learning to cybersecurity, software development, and beyond, our content covers a vast spectrum of the tech world. We encourage contributors to share articles, opinion pieces, how-to guides, and more.</p>
            
            <p><strong>Community Engagement:</strong> We believe in fostering a collaborative environment where readers can engage with authors through comments, discussions, and feedback. Your thoughts and opinions matter, and we’re here to facilitate meaningful conversations.</p>
        
            <h2>Join Us</h2>
            
            <p>Are you passionate about technology? Do you have insights or experiences you'd like to share? Tech Talk Hub is the perfect place for you! Join our growing community of tech enthusiasts and make your voice heard. Whether you're here to read, write, or engage, we’re excited to have you with us.</p>
            
            <p>Together, let's explore the ever-evolving world of technology, one article at a time.</p>
            
            <p><strong>Welcome to Tech Talk Hub - Where Tech Minds Meet!</strong></p>
        
            <h2>Contact Us</h2>
            
            <p>If you have any questions, suggestions, or just want to say hi, feel free to reach out to us at <a href="mailto:shashwat1326@gamil.com">shashwat1326@gamil.com</a>. We're always here to help and look forward to hearing from you!</p>
       
        </div>

    </div>

</div>

{% endblock content %}